.item1 { grid-area: i1; }
.item2 { grid-area: i2; }
.item3 { grid-area: i3; }
.item4 { grid-area: i4; }
.item5 { grid-area: i5; }
.item6 { grid-area: i6; }



main.grid * {
  color: rgba(255,255,255, .8);
}

.grid-container {
  display: block;
  padding: 0px;
  border-radius: 4px;
}

.grid-container > div {
  background-color: rgb(10, 10, 10);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
  transition: all ease-in-out 200ms;
  cursor: pointer;

  margin-top: 5px;
  margin-bottom: 5px;
}

@media screen and (min-width: 960px){
  .grid-container {
    display: grid;
    grid-template-areas:
    'i1 i2'
    'i3 i4'
    'i5 i6';
    gap: 10px;
  }
  .grid-container > div {
    margin-top: 0;
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1280px) {
  .grid-container {
    display: grid;
    grid-template-areas:
    'i1 i2 i3'
    'i4 i5 i5'
    'i6 i6 i6';
    gap: 10px;
  }
  .grid-container > div {
    margin-top: 0;
    margin-bottom: 0;
  }
}



.grid-container > div:hover {
  background-color: rgba(23, 23, 23, 1);
  transition: all ease-in-out 200ms;
}

.grid-container > div > * {
  text-align: center;
  color: rgba(255,255,255, .3);
  transition: all ease-in-out 300ms;
}

.grid-container > div:hover > * {
  color: rgba(255,255,255, .9);
  transition: all ease-in-out 300ms;
}
body {
  background: rgb(2,0,36);
  background: linear-gradient(75deg, rgb(12, 12, 12) 0%, rgb(14, 14, 14) 56%, rgb(0, 0, 0) 76%);
  background-attachment: fixed;
}

